@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: linear-gradient(to right, #4b79a1, #283e51);
  --right-msg-bg: #ececec;
  --left-msg-bg: #0000ff;
  --color: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: 'Poppins', sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 386px;
  margin: 25px 10px;
  border-radius: 10px;
  height: calc(100% - 100px);
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  background: lightblue;
  color: #666;
  font-family: 'Orbitron', sans-serif;
}

.msger-header-title {
  display: flex;
  align-items: center;
}

.msger-header-title img {
  height: 2.5rem;
  width: auto;
}

.msger-header-title p {
  letter-spacing: 1px;
  font-size: 1.55rem;
  font-weight: bold;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 350px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.7em;
}

.left-msg .msg-bubble {
  color: var(--color);
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
  gap: 10px;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: var(--black);
  border-bottom-right-radius: 0;
}

.right-msg img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  background: lightblue;
  border-radius: 0px 0px 10px 10px;
}

.msger-inputarea * {
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: transparent;
  outline: none;
  /* border: 1px solid rgba(255, 255, 255, 0.7); */
}

.msger-send-btn {
  margin-left: 10px;
  background: transparent;
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}

.msger-chat {
  background: #fcfcfe;
}